<h1>Add Stock</h1>
<form method="post" action="/addStock">
  <p>
    <label>Stock:</label>
    <input type="text" name="stock" value="MTCH">
  </p>
  <p>
    <input type="submit" value="Add to Portfolio">
  </p>
</form>