<h1>Sign Up</h1>
<form method="post" action="/signup">
  <p>
    <label>Username:</label>
    <input type="text" name="username" value="testuser">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password" value="testuserpassword">
  </p>
  <p>
    <input type="submit" value="Sign Up">
  </p>
</form>